
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background-color 0.5s;
}

:root {
  /* Lightmod colors */
  --main_color: #FFFFFF;
  
  --primary_color: #F0F0F0;

  --secondary_color: #505050;

  --active_color: #282828;

  --border_color: #64646433;

    /* Darkmod colors */
  --main_color_dark: #141414;
  
  --primary_color_dark: #141414;

  --secondary_color_dark: #C8C8C8;

  --active_color_dark: #FFFFFF;

  --border_color_dark: #FFFFFF33;

   /* Fonts */
  --primary_font: Verdana, Geneva, Tahoma, sans-serif;

  --secondary_font: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: var(--main_color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.border{
  border-radius: 10px;
  background-color: var(--primary_color);
  border: solid 1px var(--border_color);
}

h1{
  font-family: var(--primary_font);
  color: var(--secondary_color);
}

h2{
  font-family: var(--primary_font);
  color: var(--secondary_color);
}

h3{
  font-family: var(--primary_font);
  color: var(--secondary_color);
}

p{
  font-family: var(--secondaryfont);
  color: var(--secondary_color);
}

a{
  font-family: var(--primary_font);
  text-decoration: none;
  color: var(--secondary_color);
}
